version: '2'
services:
  seed-db: 
    build: 
      context: ./dummydata
    command:  /bin/bash -c "sleep 60 && node megaseed.js --db=cassandra"
    networks:
      - mynetwork
    depends_on:
      - cassandra
    mem_limit: 512M
    cpu_quota: 50000
  web:
    build: .
    ports:
     - "80:3003"
    command: /bin/bash -c "sleep 60 && npm start"
    networks:
      - mynetwork
    depends_on:
      - cassandra
    mem_limit: 512M

  cassandra:
    image: "cassandra:3.11"
    hostname: cassandra
    environment:
      - "MAX_HEAP_SIZE=256M"
      - "HEAP_NEWSIZE=128M"
    mem_limit: 1024M
    cpu_quota: 50000
    restart: always
    # uncomment if seeding as cassandra is noisy
    # logging:
    #   driver: none
    networks:
      - mynetwork
    volumes:
      - ~/docker_cassandra_data:/var/lib/cassandra
      - ./dummydata/cassandra_config/cassandra.yaml:/etc/cassandra/cassandra.yaml
networks:
  mynetwork:
    driver: bridge