version: '2'
services:
  nginx:
    image: "nginx"
    network_mode: "host"
    ports:
      - "80:80"
    restart: always
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./www:/www:ro
      - ./limits.conf:/etc/security/limits.conf:ro