.ratingContainer {
  margin-bottom: 12px !important;
}

.starsContainer {
  display: inline-block !important;
  margin-left: 16px !important;
}

.star {
  height: 1em; 
  width: .5em; 
  display: inline-block;
  fill: currentcolor;
}

.star.flipped {
  transform: scaleX(-1);
}


.halfStarContainer {
  color: var(--color-star-babu-highlight-color, #008489) !important;
  display: inline-block !important;
  position: relative !important;
  font-size: 18px !important;
  height: 18px !important;
  margin-right: 6px !important;
  width: 18px !important;
}

.greyStar {
  color: var(--color-star-blank-color, #D8D8D8) !important;
}

.removalStar {
  color: var(--color-star-blank-color, #525252) !important;
  cursor: pointer;
}

.hoverStar {
  color: var(--color-star-blank-color, #f4958e) !important;
  cursor: pointer;
}


.greyMode {
  opacity: 0.5;
  color: var(--color-star-babu-highlight-color, #5b5b5b) !important;
}

.halfStarContainer.interactive {
  color: var(--color-star-babu-highlight-color, #ea6a60) !important;
}
